
<p>Find me in app/views/pages/index.html.erb</p>

<div class="container">
  <h1>ホーム</h1>
  <ul>
    <p>This is the page!</p>
    <% if logged_in? %>
    <p>You're logged in!</p>
    <% end %>
  </ul>
</div>